<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamer.mapper.AttachmentMapper">

	<insert id="insertAttachments">
		insert into tbl_attachment(path,uuid,name,image,boardno)
		values(#{path},#{uuid},#{name},#{image},#{boardno})
	</insert>
	
	<select id="getCurrentBno" resultType="int">
		select last_insert_id();
	</select>
	
	<select id="selectAttachmentsByBno" resultType="com.dreamer.domain.AttachmentVO">
		select * from tbl_attachment where boardno = #{boardno};
	</select>
	
	<delete id="deleteAttachments">
		delete from tbl_attachment where boardno = #{boardno}
	</delete>
	
	<select id="getOriginalFileName" resultType="string">
		select t1.name from tbl_attachment as t1 where concat(t1.uuid,t1.name) = #{wholeFileName};
	</select>

</mapper>